
**/__pycache__/
/.idea/
/build/
/dist/
/svoc.egg-info/**
/notebooks/.ipynb_checkpoints/
/trader/train/supervised/model/
!/trader/train/supervised/model/__init__.py
**/subprocess_buffer/**
/data/forex/**
/data/**
!/subprocess_buffer/__init__.py
**/model/**
!/model/__init__.py
/trader/train/labeler/peak_valley/cy_func.c
/trader/train/labeler/cy_func.cp36-win_amd64.pyd
/trader/train/labeler/cy_func.cp37-win_amd64.pyd
/trader/train/labeler/peak_valley/cy_func.cp38-win_amd64.pyd
**/sandbox/**
