**/__pycache__/
/sandbox/
/subprocess_buffer/
!/subprocess_buffer/__init__.py

**/model/**
!/model/__init__.py

**/.idea/

/build/
/dist/
/data/
/ui/**
/deploy/**
/docs/
/connector/mysql/**
/trader/train/**
/trader/plot/**
