numpy
pandas
scipy
requests
fastapi
cython
click
hyperopt
scikit-learn
lightgbm  # https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-gpu-version
xgboost
influxdb-client
matplotlib
statsmodels
# talib  # TA-Lib wheel - https://www.lfd.uci.edu/~gohlke/pythonlibs/#ta-lib  see also https://github.com/mrjbq7/ta-lib #win_amd64.whl
# influxdb ~= 5.2.3

